@model GestionSalleEmploiTemps.Models.DisponibiliteProfesseur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DisponibiliteProfesseur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesseurId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesseurId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jour)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureFin)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professeur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
